$brand-color: #6ba1f3;
$dgreen: #50574B;
$lgreen: #D8EDCD;
$red: #F55F4E;

$border-size-full: 12px;
$border-size-half: 6px;

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";
$lg-desktop: "(min-width: 1201px)";

$font: 'IBM Plex Sans', sans-serif;
$accent-font: 'IBM Plex Mono', monospace;

